body{ 
	font-family: helvetica;	
	line-height: 1.32em;
	}

h1, h2, h3, h4, h5, h6{
		color: #536d39;
		font-family: Times;
		letter-spacing: .0025em !important;
	} 
p{ 
		font-weight: 100;
		font-size: 1.12em;
		letter-spacing: .00175em !important;
		word-spacing: .0025em !important;
	}	
@media only screen and (min-width: 960px){ 
	p{ 
		letter-spacing: .00175em !important;
		word-spacing: .0025em !important;
		line-height: 1.7em !important;
		}	
	}
@media only screen and (max-width: 959px){ 
	p{ 
		font-size: 1em;
		line-height: 1.7em;
		}	
	}
/*********** Nav Bar ***********/
nav{ 
	
	padding-top: 10px;
	line-height: 75px;
	}
nav p{ 
	margin-bottom: 0;
	padding-left: 15px;
	line-height: 75px !important;
	font-size: .825em;
	}
nav img{ 
	padding: 10px 15px 20px 0;
	width: 150px;
	
	}
/*******************************/
/*********** Header ************/
header{ 
	background-image: url(../../assets/img/accent2.png);
	background-repeat: no-repeat;
	background: url(../../assets/img/bg-texture.png) repeat;
	background-color:#f3f5e7;
	}
#header-nav{ 
	max-width: 84%;
	margin-left: 9.5%;
	}
#header-nav p{ 
	padding-left: 0 !important;
	}
#header-nav img{ 
	padding-right: 0 !important; 
		
	}

.slogan{ 
	color:#ffffff;
	background-color:#77695c;
	}
#first-scenery{ 
	position:absolute; z-index:25;
	}
#banner{ 
	position:relative; 
	z-index:30;
	height: 400px;
	padding: 0 15px; 
	max-width: 100%;
	}
#header-logo{ 
	padding-top: 20px;
	}
#header-logo img{ 
	width: 400px;
	}
#banner ul {
    list-style-type: none;
    padding: 0px;
    margin: 10px 0 0 85px;
	}
#banner ul li {
    background-image: url(../../assets/img/bonsai-icon2.png);
    background-repeat: no-repeat;
    background-position: 0px center; 
    padding: 0 0 0 35px; 
    margin-bottom: 10px;
    line-height: 35px;
	}
#cta-button1 button{ 
	margin: 20px 0 0 90px !important;
	}

#scenery{ 
	display: inline-block;
	position: relative;
	z-index: -1px;
	-webkit-transition: margin .5s; /* Safari */
	-webkit-transition-timing-function: cubic-bezier(0.42,0,0.58,1);
    transition: margin .5s;
    transition-timing-function: cubic-bezier(0.42,0,0.58,1);  
	}
#scenery img{ 
	height: 400px;
	}
#slogan img{
	display: block;
	margin: 0 auto;
	padding: 20px 0;
	width: 45%;
	-webkit-transition: width 2s; /* Safari */
	-webkit-transition-timing-function: cubic-bezier(0.42,0,0.58,1);
	transition: width .2s;
	transition-timing-function: cubic-bezier(0.42,0,0.58,1);
	}
@media only screen and (min-width:1200px){ 
	#header-nav{ 
		margin-left: 9.5%;
		}
	}
@media only screen and (min-width:1060px){ 
		#banner{
			margin-left: 8.3333%;
		}
	}
@media only screen and (min-width: 960px) and (max-width:1320px){ 
	#header-nav{ 
		max-width: 90%;
		margin-left: 4%;
	}
	nav p{ 
		padding-left: 15px !important;
	}
	#scenery{ 
		position: absolute;
		right: -14%;
		}
	#first-scenery{ 
		visibility: hidden;
		display: none;
		width: 0;
		height: 0;
		}
	#medium-scenery{ 
		visibility: hidden;
		display: none;
		height: 0;
		width: 0;
		}
	}
@media only screen and (max-width: 960px){ 
	#header-nav{ 
		max-width: 90%;
		margin-left: 4%;
	}
	#banner{ 
		max-width: 520px;
		height: auto;
		}
	#banner ul li{ 
		margin-bottom: 15px;
		}
	#banner ul li:last-child{ 
		margin-bottom: 0;
		}
	#header-logo{ 
		padding-top:80px;
		padding-bottom: 15px;
		
		}
	#cta-button1{ 
		padding-left: 30px;
		}
	#scenery{ 
		visibility: hidden;
		display: none;
		height: 0;
		width: 0;
		}
	#medium-scenery{ 
		margin-top: -20px;
		width:100%;  
		overflow-x:hidden no-scroll;
		position:relative;
		}
	#slogan img{ 
		width: 55%;
		}
	}
@media only screen and (max-width: 768px){ 
	#header-nav{ 
		max-width: 90%;
		margin-left: 5%;
	}
}
@media only screen and (max-width: 640px){ 
		#header-logo{ 
			margin: 40px auto 0 auto;
			}
		nav.show-for-small-only, #foot-wrap{ 
			border-top: 8px solid #fff;
		}
		
	}
@media only screen and (max-width:560px){ 
	#header-logo{ 
		padding-top: 40px;
		}
	#slogan img{ 
		width: 70%;
		}
	#banner ul {
	    margin: 10px 0 0 0px;
		}
	#banner ul li {
	    background-image: url(../../assets/img/bonsai-icon2.png);
	    background-repeat: no-repeat;
	    background-position: 0px center; 
	    padding: 0 0 0 35px; 
	    margin-bottom: 30px;
	    margin-left: 25px;
	    line-height: 20px !important;
	    width: 90%;
	  
		}
	#banner ul li:last-child {
	    margin-bottom: 30px;
	  
		}
	}
/*******************************/
/****** Section: Services ******/
#services{ 
	display: -webkit-flex; /* Safari */
    -webkit-align-items: stretch; /* Safari 7.0+ */
    display: flex;
    align-items: stretch;
    max-width: 100%;
	}
#services article{ 
	min-height: 240px;
	height: auto;
	margin-top: 60px !important;
	border-bottom: 1px dotted #77695c;
	}
#services-wrap > article:last-child{ 
	margin-bottom: 50px;
	border-bottom: none !important;
	}
.description{ 
	padding-right: 0;
	}
h3.name{
	margin: 0;
	font-weight: bold;
	letter-spacing: .015em;
	}
h3.name:before{ 
	content:url(../../assets/img/bonsai-icon.png);
	padding-right: 10px;
}
.description > div{ 
	padding-left: 30px;
	}
h5.rate{ 
	margin: 0 0 20px 0;
	color: #734800;
	font-weight: bold;
	letter-spacing: .025em;
	}
p.excerpt{ 
	margin: 8px 0 0 0;
	}
.scene{ 
	min-width: 120px;
	max-width: 200px;
	margin: 0 auto;
	overflow: hidden;
	border: 6px solid #f3f5e7;
	border-radius: 100%;
	}
.service div:first-child{ 
	padding: 0;
	}
@media only screen and (min-width:640px) and (max-width:960px){ 
	.scene{ 
		max-width: 160px;
		}
	}
@media only screen and (min-width:1025px) and (max-width:1180px){ 
	.scene{ 
		max-width: 180px;
		}
	}
@media only screen and (max-width: 640px){ 
	h3.name{ 
		margin: 0 auto;
		padding: 22px 0 !important;
		text-align: center;
		}
	#services article{ 
		margin-top: 30px !important;
		margin-bottom: 30px;
		border: none;
		border-radius: 5px;
		
		}
	.scene{ 
		max-width: 160px;
		display: block;
		border: 5px solid #fff;
		}
	.description{
		padding: 0;
		}
	
	h3.name{ 
		padding: 15px 0 !important;
		}
	#services-wrap article:nth-child(odd){ 
		background: #b1b982;
		}
	#services-wrap article:nth-child(even){ 
		background: #f3f5e7;
		}
	.service{ 
		padding-top: 15px;
		}
	}

/*** Services Aside ***/
aside{ 
	background: url(../../assets/img/bg-texture.png) repeat;
	background-color:#f3f5e7;
	} 
#availabilty{ 
	width: 225px; 
	margin:60px auto 0 auto;
	}
.pricing-table{ 
	width: 100%;
	border: none !important;
	border-spacing: 0px !important;
	border-collapse: collapse !important;
	margin-bottom: 0;
	}
.pricing-table .header{ 
	height: 30px;
	font-weight: 100;
	letter-spacing: .0325em;
	color: #ffffff;
	background-color: #77695c;
	}
.pricing-table tr{ 
	height: 33px;
	}
.pricing-table tr:nth-child(odd){ 
	background-color: #fcfbf9;
	}
.pricing-table tr td:nth-child(2){ 
	padding-left: 8px;
	}
.pricing-table tr td:first-child{ 
	padding-left: 5px;
	border-right: 2px solid #ffffff;
	}
#ask{
	text-align:center;
	}
/*******************************/
/****** Section: Location ******/
#location-wrap{ 
	color:#e1e5c4;
	/*background-color:#949973;*/
	background-color:#77695c;
	}
#location{ 
	padding: 3px 0 3px 0;
	}
#info > h3{ 
	color:#e1e5c4; 
	margin-bottom: 20px;
	}
@media only screen and (max-width: 640px){ 
		#info, #info > h3{ 
			text-align: center;
		}
	}

/*******************************/
/****** Section: About ******/
#about-janet-wrap{ 
	max-width: 100%;
	}
#about{ 
	display: -webkit-flex; /* Safari */
    -webkit-align-items: stretch; /* Safari 7.0+ */
    display: flex;
    align-items: stretch;
	}
#about #info{ 
	display: inline-block; 
	padding-top: 60px;
	max-width: 800px;
	}
#about #info > h3{ 
	color: #536d39;
	margin: 0;
	}
#about #info > h5{ 
	margin: 0 0 20px 0;
	color: #77695c;
	}
#about > #info-wrap{ 
	height: 600px;
	}
#about #portrait{ 
	position: relative;
	z-index: 100;
	display: inline-block;
	left: 84%;
	width: 73%;
	margin-top: -140px;
	}
#about > aside{ 
	position:relative;
	z-index:-11;
	}
@media only screen and (max-width:1280px){ 
	#about{ 
		padding-left: 20px;
		}
	}
/*******************************/
/****** Section: Testimonials ******/
#testimonials-wrap{ 
	background-color:#77695c;
	}
#testimonials{ 
	padding: 30px 0;
	text-align:center; 
	color:#e1e5c4;
	}
#testimonials h3{ 
	padding-bottom:10px;
	color:#e1e5c4;
	}
#testimonials h5{
	font-family: sans-serif;
	font-size: 1.125em;
	color:#e1e5c4;
	letter-spacing: 0.035em !important;
	}
#testimonials p{ 
	margin-bottom:30px;
	}
/*******************************/
/****** Footer ******/
#foot-wrap{ 
	padding: 60px 0;
	background: url(../../assets/img/bg-texture.png) repeat;
	background-color:#f3f5e7;
	}
#cta-foot-down{ 
	width:152px; 
	margin:0 auto 0 auto;
	}
.stones-candle-img{ 
	position: relative;
 	max-width: 300px;
	margin: -10px 0 20px 100px;
	}
#signature{ 
	padding: 20px 0;
	font-size: .825em;
	}
@media only screen and (max-width:640px){ 
	.stones-candle-img{ 
		visibility: hidden !important;
		display: none !important;
		height: 0;
		width: 0;		
		}
	
	}
/*******************************/
/****** Reveal ******/
.reveal-modal{ 
	max-width: 600px !important;
	}
.reveal-modal input, .reveal-modal select{ 
	width:60%;
	}
.reveal-modal .time{
 	width: 30px;
 	}
 /*******************************/
/****** Form ******/
@media only screen and (max-width: 480px){ 
	#online-booking{ 
		padding: 30px 18px;
	}
	#datepicker, .ui-datepicker-inline, .ui-datepicker-calendar, .ui-datepicker-calendar > thead { 
		max-width: 250px !important;
	}
	fieldset{ 
		padding: 18px 10px;
	}
	fieldset > .small-12{ 
		padding: 0;
	}
}